.attendance {
	padding: 20px 20px 70px;
	width: 100%;
	height: calc(100vh - 60px);
	overflow-y: auto;
}

@media (max-width: 475px) {
	.attendance {
		padding: 20px 20px 120px;
	}
}

.loading {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.loading .nSnSW {
	display: flex;
	align-items: center;
	justify-content: center;
}

.attendance .header {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: space-between;
}

.search-input-wrapper {
	display: flex;
}

.attendance .header .search-inputs {
	max-width: 300px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 10px;
	border-radius: 10px;
	padding: 10px 20px;
	background-color: white;
	cursor: pointer;
	box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
	border: none;
	margin-bottom: 10px;
}


.attendance .header .search-inputs input {
	border: none;
	background-color: transparent;
	width: 100%;
}

.attendance .header .search-inputs input:focus {
	outline: none;
}

.attendance .header .items {
	display: flex;
	align-items: center;
	gap: 20px;
	cursor: pointer;
}

.attendance .header .items .date-range {
	display: flex;
	gap: 10px;
	align-items: center;
}

.attendance .header .items .date-range input {
	border-radius: 10px;
	padding: 10px 20px;
	background-color: white;
	cursor: pointer;
	box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
	border: none;
	font-family: 'Montserrat', sans-serif;
}

.attendance .header .items .date-range input:focus {
	outline: none;
}

.attendance .header .items i {
	font-size: 12px;
}

.attendance .header .a-count {
	background-color: white;
	padding: 10px 20px;
	border-radius: 10px;
	box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
	min-width: 200px;
}

.attendance .header .a-count2 {
	background-color: white;
	padding: 10px 20px;
	border-radius: 10px;
	box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
	min-width: 260px;
}

.attendance .header .a-count2 p {
	width: 100%;
}

.attendance .header .a-count .organization-type {
	position: relative;
	cursor: pointer;
}

.attendance .header .a-count .organization-dropdown {
	position: absolute;
	top: 120px;
	left: 300px;
	border-radius: 10px;
	box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
	overflow: hidden;
	z-index: 100;
}

.attendance .header .a-count .organization-dropdown p {
	font-size: 14px;
	background-color: white;
	padding: 10px;
	border-bottom: 1px solid #eee;
	cursor: pointer;
}

.attendance .header .items .type {
	position: relative;
	cursor: pointer;
	width: 100%;
}

.attendance .header .items .type span {
	border-radius: 10px;
	padding: 10px 20px;
	background-color: white;
	cursor: pointer;
	box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
	display: flex;
	align-items: center;
	gap: 10px;
	user-select: none;
}

.attendance .header .items .type span i {
	width: 10px;
	padding-left: 10px;
}

.attendance .header .items .type .dropdown {
	display: none;
	position: absolute;
	top: 40px;
	right: 0;
	border-radius: 10px;
	box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
	overflow: hidden;
	z-index: 100;
}

.attendance .header .items .type .dropdown .all {
	font-size: 14px;
	background-color: white;
	padding: 10px;
	border-bottom: 1px solid #eee;
	text-transform: uppercase;
	display: flex;
	align-items: center;
	justify-content: center;
}

.attendance .header .items .type.active .dropdown {
	display: block;
	z-index: 100;
}

.attendance .header .items .type .dropdown p {
	font-size: 14px;
	background-color: white;
	padding: 10px;
	border-bottom: 1px solid #eee;
}

.attendance .header .items .type .dropdown p:hover {
	background-color: #eaeaea;
}

.attendance .header .items .group-number {
	position: relative;
	border-radius: 10px;
	padding: 10px 20px;
	background-color: white;
	cursor: pointer;
	box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
	transition: var(--primary-transition);
	min-width: 210px;
	width: 100%;
}

.attendance .header .items .group-number .dropdown .all {
	font-size: 14px;
	background-color: white;
	padding: 10px;
	border-bottom: 1px solid #eee;
	text-transform: uppercase;
	display: flex;
	align-items: center;
	justify-content: center;
}

.attendance .header .items .group-number span {
	display: flex;
	align-items: center;
	gap: 10px;
	user-select: none;
}

.attendance .header .items .group-number span i {
	width: 10px;
}

.attendance .header .items .group-number .dropdown {
	display: none;
	position: absolute;
	top: 40px;
	right: 0;
	border-radius: 10px;
	box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
	overflow: hidden;
	z-index: 100;
}

.attendance .header .items .group-number.active .dropdown {
	display: block;
	z-index: 100;
}

.attendance .header .items .group-number .dropdown p {
	font-size: 14px;
	background-color: white;
	padding: 10px;
	border-bottom: 1px solid #eee;
}

.attendance .header .items .group-number .dropdown p:hover {
	background-color: #eaeaea;
}

.attendance .header .items .select-date input {
	min-width: 200px;
	width: 100%;
	border-radius: 10px;
	padding: 10px 20px;
	background-color: white;
	cursor: pointer;
	box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
	border: none;
	font-family: 'Montserrat', sans-serif;
}

.attendance .header .items .select-date input:focus {
	outline: none;
}

.attendance .header .items .select-date .dropdown {
	position: absolute;
	z-index: 100;
}

.attendance .selected-item-title {
	display: flex;
	align-items: center;
	gap: 40px;
	padding: 20px 0 10px;
}

.attendance table {
	margin-top: 20px;
	width: 100%;
	border-collapse: collapse;
}

.attendance thead th,
tbody td {
	padding: 10px;
	border: 1px solid #ddd;
}

.attendance thead th {
	background-color: #f2f2f2;
}

.attendance tbody tr:hover {
	background-color: #e0e0e0;
}

.attendance tbody td select {
	width: 100%;
	padding: 8px;
	border-radius: 5px;
	border: 1px solid #ccc;
	cursor: pointer;
}

.attendance tbody td span {
	font-weight: 500;
	display: none;
}

.attandance-save {
	float: right;
	padding: 10px 35px;
	margin: 10px 0;
	border: none;
	border-radius: 10px;
	font-weight: 400;
	font-size: 16px;
	background-color: #20687f;
	color: white;
}

.attandance-save:hover {
	background-color: #1f7f9f;
}

.name-click {
	cursor: pointer;
}

.reload-btn {
	padding: 10px 25px;
	border: none;
	border-radius: 16px;
	font-size: 18px;
}

.checkbox-container {
	display: flex;
	align-items: center;
	gap: 30px;
}

.checkbox-container button {
	border: none;
	background-color: transparent;
}

.save-button-wrapper button {
	float: right;
	margin-top: 20px;
	margin-bottom: 20px;
	border: none;
	padding: 10px 25px;
	color: white;
	background-color: #20687F;
	border-radius: 10px;
}

/* user attendance */
.user-attendance {
	height: 100vh;
	padding: 20px;
}

.user-attendance .name {
	display: flex;
	align-items: center;
	justify-content: center;
}

.user-attendance .name .user-information {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
}

.user-attendance .name .user-information {
	display: flex;
	align-items: center;
	justify-content: center;
}

.user-attendance .header {
	display: flex;
	align-items: center;
	gap: 20px;
	justify-content: end;
}

.user-attendance .header span {
	background-color: white;
	padding: 10px 15px;
	border-radius: 10px;
	box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.user-attendance .header input {
	border-radius: 10px;
	padding: 10px 15px;
	background-color: white;
	cursor: pointer;
	box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
	border: none;
	font-family: 'Montserrat', sans-serif;
}

.user-attendance .header .selected-date {
	border-radius: 10px;
	padding: 10px 15px;
	background-color: white;
	cursor: pointer;
	box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
	border: none;
}

.user-attendance .name {
	display: flex;
	flex-direction: column;
	text-align: center;
	margin-top: 30px;
	overflow-x: scroll;
}


.user-attendance .name .title {
	font-size: 24px;
	font-weight: 500;
}

.user-attendance table {
	margin-top: 20px;
	width: 100%;
	border-collapse: collapse;
}

.user-attendance thead th,
tbody td {
	padding: 10px;
	border: 1px solid #ddd;
}

.user-attendance thead th {
	background-color: #f2f2f2;
}

.user-attendance tbody td:hover {
	background-color: #e0e0e0;
}

.user-attendance tbody td select {
	width: 100%;
	padding: 8px;
	border-radius: 5px;
	border: 1px solid #ccc;
	cursor: pointer;
}

.user-attendance tbody td span {
	font-weight: bold;
	color: blue;
}

.user-calendar {
	display: grid;
	gap: 5px;
	width: 100%;
}

.calendar-header {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	text-align: center;
	background-color: #f2f2f2;
}

.calendar-header div {
	padding: 10px;
	font-weight: bold;
}

.calendar-body {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
}

.calendar-week {
	display: contents;
}

.calendar-day {
	padding: 10px;
	text-align: center;
	border: 1px solid #ddd;
}

.detailed-statistics {
	display: flex;
	justify-content: space-between;
	width: 80%;
	margin: 0 auto;
	font-weight: 700;
}

.wrapper {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.user-image-wrapper {
	width: 40px;
	height: 40px;
	margin: 0 auto;
	overflow: hidden;
}

.user-image-wrapper img {
	width: 100%;
	object-fit: cover;
}

@media (max-width: 600px) {

	.calendar-header div,
	.calendar-day {
		padding: 5px;
		font-size: 12px;
	}
}


@media (max-width: 768px) {
	thead {
		display: none;
	}

	tbody tr {
		display: block;
		border: 1px solid #ddd;
		margin-bottom: 10px;
	}

	tbody td {
		display: block;
		text-align: left;
	}

	tbody td:before {
		content: attr(data-label);
		font-weight: bold;
		float: left;
		text-transform: uppercase;
	}

	.attendance tbody td span {
		display: block;
	}
}

@media (max-width: 1211px) {
	.user-attendance .header {
		width: 100%;
		justify-content: start !important;
		align-items: start !important;
		flex-wrap: wrap;
	}
}

@media (max-width: 945px) {
	.header .items {
		flex-wrap: wrap;
	}
}

@media (max-width: 768px) {
	.td-wrapper button {
		width: 100% !important;
	}
}

@media (max-width: 653px) {

	.header .items {
		width: 100%;
		gap: 10px !important;
	}

	.header .items .a-count {
		width: 100% !important;
	}

	.header .items .type {
		width: 100% !important;
	}

	.header .items .group-number {
		width: 100% !important;
	}

	.header .items .select-date {
		width: 100% !important;
		padding-top: 1px;
	}

	.header .items .select-date input {
		width: 100% !important;
	}

	.selected-item-title {
		flex-direction: column;
		gap: 5px !important;
		justify-content: start;
		align-items: start;
		text-align: start;
	}

	.user-attendance .header span,
	input,
	div {
		width: 100%;
	}

	.date-range {
		flex-direction: column;
		align-items: start;
		justify-content: start;
	}

	.date-range label {
		display: flex;
		justify-content: start;
		justify-content: start !important;
		gap: 5px;
	}

	.attendance .header .a-count .organization-dropdown {
		top: 120px;
		width: 100px;
	}

	.attendance .header .a-count .organization-dropdown p {
		width: 100px;
	}
}

@media (max-width: 400px) {


	.attendance .header .a-count .organization-dropdown {
		top: 175px;
		width: 100px;
		left: 230px;
	}
}