/* styles */
@import './styles/rootStyles.css';

/* main - rootlayout */
.App {
	height: 100vh;
	overflow: hidden;
}

.root-layout {
	width: 100%;
	height: 100%;
}

main {
	display: flex;
	background-color: #f1f1f1;
	height: calc(100vh - 60px);
	overflow: hidden;
}

.sidebar {
	width: 250px;
	background-color: #222D32;
	height: 100vh;
	transition: var(--primary-transition);
}

.sidebar.active {
	width: 60px;
}
.sidebar.active li a {
	display: none;
}

@media (max-width: 460px) {
	.sidebar.active {
		height: calc(100vh - 110px);
	}
}

.sidebar ul li {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

header {
	width: 100%;
	height: 60px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: var(--primary-bar-color);
}

.navbar {
	width: 100%;
	padding: 0 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	transition: var(--primary-transition);
}

header .logo {
	height: 100%;
	width: 240px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
	transition: var(--primary-transition);
	padding: 0 10px;
}

header .logo i {
	display: none;
}

header .logo.active {
	width: 60px;
}

header .logo.active h1 {
	display: none;
}
header .logo.active i {
	display: block;
}

header .logo h1 {
	font-size: 24px;
	font-weight: 500;
}

.navbar .menu i {
	color: white;
	font-size: var(--secondary-text-size);
}

.navbar .filters {
	/* margin-right: -700px; */
	background-color: var(--primary-border-color);
	display: flex;
	align-items: center;
	border: none;
	border-radius: 10px;
	height: 36px;
	width: 300px;
	overflow: hidden;
}

.navbar .filters input {
	width: 100%;
	height: 100%;
	padding-left: 10px;
	font-size: 14px;
	font-weight: 500;
	color: var(--secondary-text-color);
	border: none;
	background-color: transparent;
}

.navbar .filters i {
	color: grey;
	padding: 0 10px;
}

.navbar .filters input:focus {
	outline: none;
}

.navbar .account {
	float: right;
}

.navbar .account {
	display: flex;
	align-items: center;
	gap: 20px;
	width: 122px;
}

.navbar .account img {
	width: 40px;
}

.navbar .account span {
	color: var(--secondary-text-color);
	font-size: var(--secondary-text-size);
	color: #fff;
	font-weight: 400;
	font-style: normal;
	display: flex;
}

.navbar .account span i {
	font-size: 14px;
	padding-top: 5px;
	padding-left: 10px;
}


/* sidebar */



.sidebar .sidebar-icon {
	color: #B8C7CE;
	padding: 20px;
	width: 70px;
}

.sidebar ul li a {
	width: 100%;
	height: 50px;
	font-size: 16px;
	color: #B8C7CE;
	padding: 15px;
}

.sidebar ul li a:active {
	color: #B8C7CE;
}

.sidebar ul li a div {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.sidebar ul li a i {
	font-size: 12px;
}

.sidebar ul li:hover {
	background-color: #1d2225;
	color: #fff;
}
.sidebar ul li:hover a {
	color: #fff;
}

.sidebar ul li:hover i {
	color: #fff;
}

/* dropdown for children li */
.children {
	margin-bottom: 8px;
}

.fa-chevron-down {
	transition: var(--primary-transition);
}
.fa-chevron-left {
	transition: var(--primary-transition);
}

.employees {
	margin-bottom: 8px;
}
.children-dropdown {
	height: 0;
	transition: var(--primary-transition);
	padding-left: 65px;
	overflow: hidden;
}

.children-dropdown.active {
	height: 50px;
	transition: var(--primary-transition);
}

.children-dropdown .element {
	display: flex;
	align-items: center;
	gap: 15px;
	margin-bottom: 10px;
}

.children-dropdown .element span {
	width: 13px;
	height: 13px;
	border: 3px solid #B8C7CE;
	border-radius: 50%;
}

.children-dropdown .element a {
	font-size: 14px;
	color: #B8C7CE;
}

.children-dropdown2 {
	height: 0;
	transition: var(--primary-transition);
	padding-left: 65px;
	overflow: hidden;
}

.children-dropdown2.active {
	height: 80px;
	transition: var(--primary-transition);
}

.children-dropdown2 .element {
	display: flex;
	align-items: center;
	gap: 15px;
	margin-bottom: 10px;
}

.children-dropdown2 .element span {
	width: 13px;
	height: 13px;
	border: 3px solid #B8C7CE;
	border-radius: 50%;
}

.children-dropdown2 .element a {
	font-size: 14px;
	color: #B8C7CE;
}

/* log out */


.logout {
  position: absolute;
  right: 0;
  top: 60px;
  background-color:#FFFFFF;
  padding: 5px 7px;
  display: flex;
  align-items:center;
  gap: 15px;
  cursor:pointer;
  color:#035e7c;
  width: 125px;
}
.fa-arrow-right-from-bracket{
  color:#035e7c;
}
.log-span p{
  font-size: 20px;
  color:#035e7c;
  font-weight: 500;
}

@media (max-width: 875px) {
	header .logo {
		width: 260px;
	}
}

@media (max-width: 460px) {
	.logout {
		top: 110px;
	}
	header {
		width: 100%;
		height: 110px;
		background-color: var(--primary-bar-color);
		flex-direction: column;
	}
	header .logo {
		width: 100%;
		background-color: #00506a;
	}
	header .navbar {
		padding: 5px 20px;
	}
	header .logo.active {
		width: 100%;
	}
	.sidebar {
		width: 0px;
	}
	.sidebar li a {
		display: none;
	}
	.sidebar li i {
		display: none;
	}
	.sidebar.active {
		width: 200px;
	}
	.sidebar.active li a{
		display: block;
	}
	.sidebar.active li i{
		display: block;
	}
	.sidebar {
		position: absolute;
		z-index: 100;
	}
}