/* font kameron */
@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;800;900&display=swap);


/* styles */
@import './styles/rootStyles.css';

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	scrollbar-width: none;
	-ms-overflow-style: none;
}

*::-webkit-scrollbar {
	display: none;
}


body {
	font-family: 'Montserrat', sans-serif;
}

i, button {
	cursor: pointer;
}

a {
	text-decoration: none;
}

ul {
	list-style-type: none;
}

li {
	list-style: none;
}

a:hover {
	text-decoration: none;
}